* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.violet {
  color: #6f1b9d;
}
.bg-custom-violet {
  /*background: #6f1b9d;*/
 background: linear-gradient(0deg, rgba(94,36,126,1) 18%, rgba(98,31,135,1) 52%, rgba(97,35,130,1) 99%);
}
.btn-custom-violet{
  background: #6f1b9d;
  color: aliceblue;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 0px;
}
.btn-custom-violet:hover {
  background: aliceblue;
  color: #6f1b9d;
  border: 2px solid #6f1b9d;
  transition: 1s;
}
.btn-custom-outline-violet {
  border: 1px solid #6f1b9d;
  color: #6f1b9d;
  font-weight: 600;
  background: #6f1b9d;
  color: aliceblue;
}
.btn-custom-outline-violet:hover {
  color: #6f1b9d;;
  background: #fff;
  transition: 1s;

}
.text-inner-shadow-violet {
  text-shadow: -1px 0 #6f1b9d, 0 1px #6f1b9d, 0.5px 0 #6f1b9d, 0 -1px #6f1b9d;
}
.text-inner-shadow-success {
  text-shadow: -1px 0 #02af11, 0 1px #2abd3d, 0.5px 0 #afe765, 0 -1px #09af49;
}
.card-custom-border {
  border: #6f1b9d 2px solid;
  /* border-radius: 10px; */
}
.pointer {
  cursor: pointer;
}
/* rotation */
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 100s linear infinite;
  -moz-animation: rotating 100s linear infinite;
  -ms-animation: rotating 100s linear infinite;
  -o-animation: rotating 100s linear infinite;
  animation: rotating 100s linear infinite;
}
/* pulse */
.pulse{animation:shadow-pulse 1s infinite}
@keyframes shadow-pulse{
0%{box-shadow:0 0 0 0 #6f1b9d}
100%{box-shadow:0 0 0 25px rgba(7,12,22,.034)}
}
@media (max-width:600px){
.typework{padding:5px}
}
@media (max-width:480px){
.typework{font-size:15px}
}